/*Spesification*/


body{
	font-family: 'Montserrat', Arial, sans-serif;
	font-family: 'Nunito Sans', Arial, sans-serif;
	font-size: 16px;
	color: #808080;
}

.Monserrat{
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 700;
}

.Nunito{
	font-family: 'Nunito Sans', Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6{
	color: #171717;
	font-weight: 700;
}

h2{
	font-size: 1.875rem;	
}

p{
	color: #808080;
}

/*header*/

.wrapBackground{
	background: url('../img/sc1.png') no-repeat center top 0%/100%;
	
}
header{
	/*height: 100vh; */
}

.header{
	margin-top: 38px;
}

.header-menu{
	padding: 0 99px;
}

.nav-link{
	color: #171717;
	font-size: 0.750rem;
}

.nav-link:hover{
	color: #10c9c3;
	font-size: 0.750rem;
}

.header__h1{
	margin-left: -6px;
	font-size: 2.375rem;
}

.header__offer{
	margin: 40px 0px;
	font-size: 1.125em;	
}

.header__button{
	width: 180px;	
	height: 53px;
	background: #10c9c3;
	padding-top: 15px;
}

.header__button_link{
	color: #ffffff;
	font-size: 0.750rem;
}

.header__button_link:hover{
	color: #171717;
	text-decoration: none;
}

.header__allOffer{
	margin: 100px 25px 0px 0;
	padding: 0 10px 90px 40px;
}


/*about us*/

.aboutUs{
	background: #fff;
	margin: 100px 0 40px 0;
	font-size: 1.875rem;
}

.aboutUs__text{
	font-size: 1rem;
}

.boutUs__signature{
	/*margin: 40px 0 100px 0;*/
}

/*skills*/
.skills{
	margin: 165px 0 0 0;
	background: #f8f9f9;
}

.skills__data{
	margin: 110px 0 0 0;
	padding:  0 0 0 80px;
	
}

.data__header{
	margin-bottom: 40px;
}

.skills__img{
	/*background: url('../img/01_OnePage.png') no-repeat ;*/
}

.data__set{
	padding:0 0 0 0;
	margin: 0 0 0 0;
}

.data__item{
	margin: 0 0 30px 0;
}

.data__set_text{
	color:#000;
	font-size: 0.750rem;
	margin: 0 0 0 0;
}

.data__set_line{
}

.data__item{
	list-style-type: none;
}

/*achievements*/

.achievements__bg{
	background: #10c9c3;
}

.achievements{
	height: 240px;
	background: #10c9c3;
	list-style-type: none;
	padding: 0 0 0 85px;
}

.achievements__item_project{
	background: url(../img/pe-7s-portfolio.png) no-repeat left center;
}

.achievements__item_clock{
	background: url(../img/pe-7s-clock.png) no-repeat left center;
}

.achievements__item_star{
	background: url(../img/pe-7s-star.png) no-repeat left center;
}

.achievements__item_like{
	background: url(../img/pe-7s-like.png) no-repeat left center;
}



.achievements__item{
   /* width: 45%;*/
   /* padding-left: 100px;
    margin-bottom: 61px;*/
}

.achievements__title{
	text-transform: uppercase;
	font-size: 1.125rem;
	color: #000;
	font-weight: 800;
	margin-bottom: 6px;
	padding-left: 70px;
	color: #fff;
}

.achievements__text{

	font-size: 0.750rem;
	padding-left: 70px;
	margin: 0 0 -4px 0;
	color: #fff;
}